.root {
  margin-bottom: 28px;
}

.header {
  display: flex;
}

.name {
  margin-bottom: 10px;
}

.headerDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
}

.headerDetailsExtended {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 13px;
}

.thumbnail {
  border-radius: 8px;
  margin-right: 20px;
}

.brand {
  font-weight: 700;
  position: relative;
  padding-right: 38px;
}

.brand:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 4px;
  width: 4px;
  background-color: var(--grey600);
  margin: auto;
  margin-right: 16px;
  border-radius: 50%;
}

.finDetails {
  display: flex;
  align-items: flex-end;
}

.dataTitle {
  font-weight: 700;
}

.percentage {
  margin-left: 8px;
}

@media (min-width: 600px) {
  .name {
    margin-bottom: 15px;
  }
}
