.root {
  margin-bottom: 28px;
}

.header {
  display: flex;
}

.name {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.headerDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
}

.headerDetailsExtended {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 13px;
}

.thumbnail {
  border-radius: 8px;
  margin-right: 20px;
}

.brand {
  font-weight: 700;
  position: relative;
  padding-right: 38px;
}

.brand:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 4px;
  width: 4px;
  background-color: var(--grey600);
  margin: auto;
  margin-right: 16px;
  border-radius: 50%;
}

.data {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.dataWrapper {
  margin-right: 33px;
}

.floor {
  border-right: 1px solid var(--grey900);
  padding-right: 26px;
  margin-right: 16px;
}

.volume {
  border-right: 1px solid var(--grey900);
  padding-right: 16px;
  margin-right: 16px;
}

.dataTitle {
  font-weight: 700;
}

@media (max-width: 900px) {
  .name {
    font-size: 1.25rem;
  }

  .data {
    flex-basis: 100%;
    padding-left: 16px;
    margin-top: 24px;
    justify-content: space-between;
  }
}
