.root {
  margin-top: 32px;
  max-width: var(--maxWidth);
}

.divider {
  margin-top: 24px;
  margin-bottom: 46px;
  border-color: var(--grey600);
}

@media (max-width: 640px) {
  .divider {
    margin-top: 38px;
    margin-bottom: 32px;
  }
}
