.root {
  margin-top: 32px;
}

.divider {
  margin-top: 24px;
  margin-bottom: 46px;
  border-color: #8f9092;
  /* //TODO fix this */
}

@media (max-width: 640px) {
  .divider {
    margin-top: 38px;
    margin-bottom: 32px;
    border-color: #8f9092;
  }
}
